---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Helpers
@import
  'helpers/variables',
  'helpers/mixins';

// Base
@import
  'base/reset';

// Components
@import
  'components/header',
  'components/article',
  'components/archives',
  'components/social',
  'components/footer',
  'components/color',
  'components/variables',
  'components/typography',
  'components/global',
  'components/navbar',
  'components/sideNav',
  'components/icons-material-design',
  'components/materialbox',
  'components/cards',
  'components/preloader',
  'components/buttons',
  'components/grid';

// Themes
@import
  'themes/blue',
  'themes/green',
  'themes/grey',
  'themes/orange',
  'themes/purple';

// Utilities
@import
  'utilities/layout',
  'time-line';

// Vendor
@import
  'vendor/syntax-highlighting';

@import
  'skill-bars';

@media (min-width: 1000px) {
  .card {
    height: 200px !important;
  }
}

.card-title {
  font-size: 1.2rem !important;
  color: white !important;
}

.card-content {
  font-size: 0.8rem !important;
  color: #e0e0e0 !important;
  text-align: center !important;
}

span.badge.new {
  background-color: #513B56 !important;
  position: relative !important;
  right: 0px !important;
  font-size: 11px !important;
}
span.badge.new:after {
  content: "" !important;
}

.bold {
  font-weight: bold !important;
}
