---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Helpers
@import
  'helpers/variables',
  'helpers/mixins';

// Base
@import
  'base/reset';

// Components
@import
  'components/header',
  'components/article',
  'components/archives',
  'components/social',
  'components/footer',
  'components/color',
  'components/variables',
  'components/typography',
  'components/global',
  'components/navbar',
  'components/sideNav',
  'components/icons-material-design',
  'components/materialbox',
  'components/cards',
  'components/preloader',
  'components/buttons',
  'components/grid';

// Themes
@import
  'themes/blue',
  'themes/green',
  'themes/grey',
  'themes/orange',
  'themes/purple';

// Utilities
@import
  'utilities/layout',
  'time-line';

// Vendor
@import
  'vendor/syntax-highlighting';

@import
  'skill-bars';

@media (min-width: 1000px) {
  .card {
    height: 200px !important;
  }
}

.card-title {
  font-size: 1.2rem !important;
  color: white !important;
}

.card-content {
  font-size: 0.8rem !important;
  color: #e0e0e0 !important;
  text-align: center !important;
}

span.badge.new {
  background-color: #513B56 !important;
  position: relative !important;
  right: 0px !important;
  font-size: 11px !important;
}
span.badge.new:after {
  content: "" !important;
}

.bold {
  font-weight: bold !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.list-square {
  list-style-type: square !important;
}
p {
  font-size: 1.25em;
}
.howto-video {
  width:100%;
  height:100%;
}
.post p {
  font-size: 16px !important;
  line-height: 1.7 !important;
  margin-bottom: 1.5em !important;
}
.post ul li.sub-item {
  list-style-type: circle !important;
}
.post ul {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.post ul li {
  list-style-type: disc;
}
.highlight {
  border: none !important;
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
