---
layout: page
title: < nickrfer />
---

<div class="grey-text text-darken-2">
    <p>
      <img src="https://en.gravatar.com/userimage/102645074/3470dda6368a88a37ef4dc225eecbce4.jpg?size=170" class="circle vcenter responsive-img" alt="Avatar" />
  </p>
  <br />
  <p>
      Greetings! I'm Nicolas, Senior Software Engineer, a constant learner and a loving husband and father &hearts; from Brasilia, Brazil. I blog about java and javascript web programming. Here's my <a href="https://drive.google.com/open?id=0B3xp00iBv0Ccc09wUldwNUEyYTA">resume</a>    if you're interested. Feel free to stalk me in any of the social medias presented in the footer. &#128521;</p>
  </p>
</div>

<p class="card">
  </p>

<div class="col s12" style="text-align: center;">&nbsp;</div>

{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
        <h4 class="c-archives__year" id="{{ this_year }}-ref">{{this_year}}</h4>
        <ul class="c-archives__list">
    {% endif %}
        <li class="c-archives__item">
            <h5><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h5>
            <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% if forloop.last %}
        </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h4 class="c-archives__year" id="{{ next_year }}-ref">{{next_year}}</h4>
        <ul class="c-archives__list">
        {% endif %}
    {% endif %}
{% endfor %}
