<header class="navbar-fixed" id="header">
  <nav class="grey darken-1 {% if site.fixedNav == 'true' %}is-fixed{% endif %}" role="navigation">
      <div class="nav-wrapper container left-align">
          <a itemprop="url" id="logo-container" href="http://nickrfer.com" class="brand-logo">
              nickrfer
          </a>
          <ul class="right hide-on-med-and-down">
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ " / " | prepend: site.baseurl }}">Home</a></li>
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/portfolio/' %}is-active{% endif %}" href="{{ " /portfolio/ " | prepend: site.baseurl }}">Portfolio</a></li>
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/vita/' %}is-active{% endif %}" href="{{ " /vita/ " | prepend: site.baseurl }}">Vita</a></li>
              <li><a itemprop="url" class="nav-search" onclick="superSearch.toggle();"><i class="material-icons right nav-search">search</i></a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ " / " | prepend: site.baseurl }}">Home</a></li>
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/portfolio/' %}is-active{% endif %}" href="{{ " /portfolio/ " | prepend: site.baseurl }}">Portfolio</a></li>
              <li><a itemprop="url" class="c-navigation__item {% if page.url == '/vita/' %}is-active{% endif %}" href="{{ " /vita/ " | prepend: site.baseurl }}">Vita</a></li>
          </ul><a itemprop="url" href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a></div>
  </nav>
</header>
