/* ==========================================================================
   Layout
   ========================================================================== */

.u-container {
  max-width: 116rem; // 1160px
  margin-right: auto;
  margin-left: auto;
}

.circle {
  border-radius: 50%;
}

.vcenter {
    margin-left: 35%;
}

.brand-logo {
  margin-left: 1.5rem;
}
