/* ==========================================================================
   Archives
   ========================================================================== */

.c-archives__title {
  padding-top: 3.5rem;
  color: black;
}

.c-archives {
  margin-bottom: 3rem;
}

.c-archives__year {
  margin-bottom: 0.5rem;
}

.c-archives__list {
  padding-top: 0.8rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

.c-archives__item {
  padding-bottom: 0.5rem;
  border-top: 1px solid #EFF1F3;
  font-size: 1.0rem;

  h3 {

  }

  p {
    color: #515862;
    font-size: 1.0rem;
  }
}
