.c-social {
  padding-top: 1.1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;

  p {
    @include fs--meta;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }

  a {
    text-decoration: none !important;
  }
}

.c-social__list {
  max-width: 76rem; // 760px
  margin-right: 0;
  margin-left: 0;
  list-style: none;
}

.c-social__title {
  @include ff--mono(500);
  @include fs--heading-2;
  color: rgba(#000, .5);
}

.c-social__icons {
  font-size: 2.0em;
}

.typcn {
  margin-left: -1.0em;
  color: #437a4d;
}

.typcn:hover {
  color: gray;
}
