---
layout: default
---
<article class="c-article">
  {% if page.title %}
    <header class="c-header c-article__header">
      <div class="u-container">
        <h1 class="c-header__title">{{ page.title }}</h1>
      </div>
    </header>
  {% else %}
  <div class="row">
    <div class="col s12" style="text-align: center;">&nbsp;</div>
    <div class="col s12" style="text-align: center;">&nbsp;</div>
    <div class="col s12" style="text-align: center;">&nbsp;</div>
    <div class="col s12" style="text-align: center;">&nbsp;</div>
    <div class="col s12" style="text-align: center;">&nbsp;</div>
    <div class="col s12" style="text-align: center;">&nbsp;</div>
  </div>
  {% endif %}

  <div class="c-article__main">
    {{ content }}
  </div>
</article>
